html, body    {
    background-color: #0F110C;
    color: aliceblue;
    height: 100%;
}

main    {
    margin-left: 5vh;
    margin-right: 5vh;
}

.nav.fixed-bottom.footer {
    margin-top: 15%;
    border-top: 1px solid #D74E09;
}

.nav.header    {
    border-bottom: 1px solid #B95F89;
    width: 100%;
}

.row.head{
    border-bottom: 2px solid #61A0AF;
    margin-left: 0;
    margin-right: 0;
}

.row.body   {
    border-top: 1px solid #61A0AF;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}

#chck   {
    text-align: center;
}

.container-md.flex-grow-1   {
    margin-top: 10vh;
}

.btn.btn-primary    {
    margin-left: 1vh;
}

.form-control:focus   {
    border-width: 3px;
    border-color: #B6C649;
}

.form-control.name  {
    width: 30vh;
}

.form-control.year  {
    width: 10vh;
}

.form-control.genre  {
    width: 30vh;
}

.form-control.rating  {
    width: 7vh;
}

.form-control.your-rating  {
    width: 10vh;
}

.form-control.type  {
    width: 8vh;
}

.fab.fa-github  {
    color: aliceblue;
}

hr  {
    background-color: #B6C649;
    margin-top: 7.7vh;
}

#sign-btn, #login-btn   {
    margin-left: 43.5%;
    margin-top: 1.7vh;
}

#join-btn   {
    margin-left: 4.2vh;
    margin-top: 1.7vh;
}

.center-container   {
    margin-left: 25%;
    margin-right: 25%;
}

.sign-label {
    margin-top: 1vh;
}