<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="icon" href="{{  url_for ('static', filename= 'movies-512px.png')  }}" type="image/png">
        <script src="https://kit.fontawesome.com/b15d641fc8.js" crossorigin="anonymous"></script>
        <title>{% block title %}{% endblock %} | Catalog </title>
    </head>

    <header>
        {% block nav %}{% endblock %}
    </header>

    <body>
        {% block main_content %}{% endblock %}
    </body>

    <footer>
        <nav class="nav footer">
            <a class="nav-link text-white" href="https://github.com/SebFernandez"><> by Sebastián Fernandez</a>
            <a class="nav-link  ml-auto github-icon" href="https://github.com/SebFernandez/Catalog"><i class="fab fa-github"></i></a>
          </nav>
    </footer>
</html>