<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="icon" href="{{  url_for ('static', filename= 'movies-512px.png')  }}" type="image/png">
        <script src="https://kit.fontawesome.com/b15d641fc8.js" crossorigin="anonymous"></script>
        <title>{% block title %}{% endblock %} | Catalog </title>
    </head>

    <body class="d-flex flex-column">
        <header class="d-inline-flex align-items-start">
            <nav class="nav header">
                <a class="nav-link text-white active" aria-current="page" href="/">Home</a>
                {% if user.is_authenticated %}
                    <a class="nav-link text-white active" aria-current="page" href="/search">Search</a>
                    <a class="nav-link text-white ml-auto" disabled>{{ user.username }}</a>
                    <a class="nav-link text-white ml-auto" href="/auth/logout">Log out <i class="fas fa-sign-out-alt"></i></a>
                {% else %}
                    <a class="nav-link text-white" tabindex="-1" aria-disabled><del>Search</del></a>
                    <a class="nav-link text-white ml-auto" href="/auth/login">Log in <i class="fas fa-sign-in-alt"></i></a>
                {% endif %}
            </nav>
        </header>

        <main>
            <div class="container-md flex-grow-1">
                {% block main_content %}{% endblock %}
            </div>
        </main>

        <footer>
            <nav class="nav fixed-bottom footer">
                <a class="nav-link text-white" href="https://github.com/SebFernandez"><> by Sebastián Fernandez</a>
                <a class="nav-link  ml-auto github-icon" href="https://github.com/SebFernandez/Catalog"><i class="fab fa-github"></i></a>
            </nav>
        </footer>
    </body>
</html>