{% extends "general.html" %}

{% block title %}Home{% endblock %}

{% block main_content %}

<div class="container-md flex-grow-1 main">
  <form type="{{ url_for('main.index') }}" method="POST">
    <div class="row head">
      <div class="col-4">Movie</div>
      <div class="col-3">Genre</div>
      <div class="col-1">Year</div>
      <div class="col-1 d-inline-flex justify-content-center">Rating</div>
      <div class="col-1 d-inline-flex justify-content-center">Your Rating</div>
      <div class="col-1">Type</div>
      <div class="col-1 d-inline-flex justify-content-center">
        <button name="delete" value="delete" type="button submit" class="btn">
          <i class="fas fa-minus text-danger"></i>
        </button>
        <button name="edit" value="edit" type="button submit" class="btn">
          <i class="fas fa-pen text-secondary"></i>
        </button>
      </div>
    </div>
    {% for value in information %}
    <div class="row body">
      <div class="col-4">{{ value.name }}</div>
      <div class="col-3">{{ value.genre }}</div>
      <div class="col-1">{{ value.year }}</div>
      <div class="col-1 d-inline-flex justify-content-center">{{ value.rating }}</div>
      <div class="col-1 d-inline-flex justify-content-center">{{ value.user_rating }}</div>
      <div class="col-1">{{ value.content_type }}</div>
      <div class="col-1 d-inline-flex justify-content-center">
        <input type="checkbox" name="active-item" value="{{ value.name }}">
      </div>
    </div>
    {% endfor %}
</div>
{% endblock %}