{% extends "general.html" %}

{% block title %}Search{% endblock %}

{% block main_content %}

<div class="container">
    <div class="row">
        <div class="col">
            <form action="/search" method="POST">
                <div class="form-group">
                  <label>Name</label>
                  <input class="form-control" type="text" name="name">
                </div>
            
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
    
    {% if table == True %}
        <table class="table" style="margin-top: 5vh;">
            <thead>
            <tr>
                <th scope="col">Movie</th>
                <th scope="col">Year</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for i in list %}
                <form action="{{ url_for ('main.search_results', name =i.get ('Title')) }}" method="POST">
                    <tr>
                        <td>{{ i.get ('Title') }}</td>
                        <input type="hidden" name="title" value="{{ i.get ('Title') }}"/>
                        <td>{{ i.get ('Year') }}</td>
                        <input type="hidden" name="year" value="{{ i.get ('Year') }}"/>
                        <td><button type='button submit' class='btn'><i class="fas fa-plus text-success"></i></button></td>
                    </tr>
                </form>
            {% endfor %}
            </tbody>
        </table>


    {% endif %}
</div>
{% endblock %}